body {
  font-family: "Press Start 2P", cursive;
  background-color: #7e9ce6;
}
.container {
  display: flex;
  justify-content: center;
}
.calculator {
}
#logo {
  width: 300px;
  margin-bottom: 10px;
}
.screen {
  position: relative;
  background-color: #99cc66;
  top: 24px;
  width: 260px;
  height: 70px;
  margin: 0 auto;
  border: solid 5px black;
}
/* .screen::after {
  content: "";
  position: relative;
  background-color: darkgreen;
  width: 100%;
  height: 5px;
  top: -10px; */
}
.glass {
  background-color: darkgreen;
  width: 270px;
  height: 5px;
  position: absolute;
}
#digs {
  width: 300px;
  height: 480px;
  background-color: #7e756b;
  background-image: url(img/bg-bricks.png);
  /* display: flex;
  align-items: center; */
}
